{% package turbo %}

{% templ TurboFrame(opts TurboFrameOptions) %}
    <turbo-frame 
        id={%= opts.Id %} 
        src={%= opts.Src %} 
        loading={%= opts.Loading.String() %}
        target={%= opts.Target %}
        >
        {% if opts.Contents != nil %}
            {%! (*opts.Contents) %}
        {% endif %}
    </turbo-frame>
{% endtempl %}